<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{owner}}</title>
</head>
<body>
   {{>header}}
    <p>{{ScreamIt welcomeMessage}}</p>
    <a href="/about">About Page</a>

{{> footer}}
</body>
</html>